
@keyframes move-left-right {
    0% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }

  .header-filter {
    position: relative

  }
  
.page-header {
  animation: move-left-right 8s infinite;
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
}


  .page-header {
    height: 100vh
  }

  .page-header {
    min-height: 100vh;
    max-height: 999px;
    padding: 0;
    color: #ffffff;
    position: relative;
    overflow: hidden;
  }
  
 .page-header .estrela {
    animation: move-left-right 4s infinite;
    height: 300px;
    width: 300px;
    opacity: 0.5;
    left: 3%;
    top: -21%;
  }
  .page-header .estrelaUm {
    animation: move-left-right 6s infinite;
    height: 400px;
    width: 400px;
    opacity: 0.4;
    right: -5%;
    top: -12%;
  }

  .page-header .estrelaDois {
    animation: move-left-right 5s infinite;
    height: 200px;
    width: 200px;
    opacity: 0.1;
    left: -5%;
    bottom: 0%;
  }
  
  .page-header .estrelaTres {
  
    animation: move-left-right 10s infinite;
    height: 100px;
    width: 100px;
    opacity: 0.9;
    right: 27%;
    top: 70%;
  }

  .page-header .estrelaQuatro { 
  animation: move-left-right 6s infinite;
  height: 250px;
  width: 250px;
  opacity: 0.1;
  left: 32%;
  bottom: 29%;
}

.page-header .estrelaCinco {

  animation: move-left-right 9s infinite;
  left: 10%;
  top: 35%;
  height: 80px;
  width: 80px;
  opacity: 0.8;
}

.page-header .estrelaSeis {

  animation: move-left-right 3s infinite;
  width: 300px;
  height: 300px;
  right: -5%;
  bottom: 0%;
  opacity: 0.1;
}

.page-header .estrelaSete {
  animation: move-left-right 5s infinite;
  height: 200px;
  width: 200px;
  opacity: 0.1;
  left: -5%;
  bottom: 0%;
}

.page-header .estrelaOito {

  animation: move-left-right 10s infinite;
  height: 100px;
  width: 100px;
  opacity: 0.9;
  right: 27%;
  top: 70%;
}

.page-header .estrelaNove { 
animation: move-left-right 6s infinite;
height: 250px;
width: 250px;
opacity: 0.1;
left: 32%;
bottom: 29%;
}

.page-header .estrelaDez {

animation: move-left-right 9s infinite;
left: 10%;
top: 35%;
height: 80px;
width: 80px;
opacity: 0.8;
}

.page-header .estrelaOnze {

animation: move-left-right 3s infinite;
width: 300px;
height: 300px;
right: -5%;
bottom: 0%;
opacity: 0.1;
}









